<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ChatInfoMapper">

    <!-- 分页获取沟通信息 -->
    <select id="selectChatPage" resultType="java.util.LinkedHashMap">
        select
        ci.id,
        ci.user_code,
        ci.pharmacy_code,
        ci.`type`,
        ci.content,
        ci.create_date,
        ei.name as enterpriseName,
        ei.images as enterpriseImages,
        ei2.name as expertName,
        ei2.images as expertImages
        from
        chat_info ci
        left join pharmacy_info ei on (ei.code = ci.pharmacy_code)
        left join user_info ei2 on (ei2.code = ci.user_code)
        where
        1 = 1
        <if test="chatInfo.pharmacyName != null and chatInfo.pharmacyName != ''">
            AND ei.name LIKE CONCAT('%',#{chatInfo.pharmacyName},'%')
        </if>
        <if test="chatInfo.userName != null and chatInfo.userName != ''">
            AND ei2.name LIKE CONCAT('%',#{chatInfo.userName},'%')
        </if>
        order by
        ci.create_date desc
    </select>

    <!-- 根据用户编号获取联系人 -->
    <select id="selectContactPerson" resultType="java.util.LinkedHashMap">
        select
        ci.id,
        ci.user_code,
        ci.pharmacy_code,
        ci.`type`,
        ci.content,
        ci.create_date,
        <if test="flag != null and flag == 1">
            ei2.name,
            ei2.images
        </if>
        <if test="flag != null and flag == 2">
            ei.name,
            ei.images,
        </if>
        from
        chat_info ci
        <if test="flag != null and flag == 2">
            left join user_info ei on
            (ei.code = ci.user_code)
        </if>
        <if test="flag != null and flag == 1">
            left join pharmacy_info ei2 on
            (ei2.code = ci.pharmacy_code)
        </if>
        where
        1 = 1
        <if test="flag != null and flag == 2">
            and ci.pharmacy_code = #{userCode}
        </if>
        <if test="flag != null and flag == 1">
            and ci.user_code = #{userCode}
        </if>
        <if test="flag != null and flag == 2">
            group by ci.user_code
        </if>
        <if test="flag != null and flag == 1">
            group by ci.pharmacy_code
        </if>
        order by
        create_date desc
    </select>

    <!-- 查询聊天记录 -->
    <select id="selectChatList" resultType="java.util.LinkedHashMap">
        select
            mi.id,
            mi.user_code,
            mi.pharmacy_code,
            mi.`type`,
            mi.content,
            mi.create_date,
            ei.name as expertName,
            ei2.name as enterpriseName,
            ei2.images as enterpriseImages
        from
            (
                select
                    *
                from
                    chat_info
                where
                        user_code =
                        #{ expertCode } AND pharmacy_code = #{ enterpriseCode } ) mi
                left join user_info ei on
                (ei.code = mi.user_code)
                left join pharmacy_info ei2 on
                (ei2.code = mi.pharmacy_code)
        ORDER BY mi.create_date asc
    </select>
</mapper>
